header {
    .navbar {
        --bs-navbar-padding-x: 0;
        --bs-navbar-padding-y: 0;
        div {
            background-color: #131313ec;
            padding-top: 5px;
            padding-left: 10px;
            padding-bottom: 5px;
            a {
                margin-right: 0;
            }
            button {
                background-color: rgb(214, 212, 212);
            }
            div {
                .offcanvas-header {
                    background-color: transparent;
                    color: white;
                }
                .offcanvas-body {
                    background-color: transparent;
                    ul {
                        li {
                            .nav-link {
                                color: white;
                                transition: 0.5s;
                                &:hover {
                                    color: $color-secundario;
                                    }
                            }
                        }
                    }
                }
            }
        }
    }
}