main {
    .somos {
        padding: 20px 0 20px 0;
        @extend %flexi ;
        img {
            width: 400px;
        }
        div {
            margin-left: 20px;
            width: 500px;
            @include flex (flex, column, space-evenly, center);
            h2 {
                color: $color-secundario;
                font-size: nth($size, 4);}
            p {
                margin-top: 10px;
                text-indent: 8px;}
        }
    }
}
