@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
/* font-family: 'Cormorant Garamond', serif; */
* {  
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;  } 

h1 {
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-size: 60px;
    font-weight: 100;
    border: 2px white solid; 
    padding: 0 15px 0 15px; }
h2 {
    color: white;
    text-align: center; }
h3 {
    color: white;
    font-size: nth($size, 3); }
p {
    color: white; }
main {
    background-color: $color-primario; }